# My Jupyter Notebook on IBM Watson Studio

**Bineesh Kumar N**
*I am interested in Data Science to explore the power of data to come up with different strategies based on the analysis performed on data.*

### The following is a simple Python Program to print inverted star pattern ###


# n is the number of rows in which star is going to be printed.

n=6

for i in range (n, 0, -1):
    print((n-i) * ' ' + i * '*')

In [6]:
# n is the number of rows in which star is going to be printed.

n=6

for i in range (n, 0, -1):
    print((n-i) * ' ' + i * '*')

******
 *****
  ****
   ***
    **
     *

### Following details contains horizontal rule, bulleted list and a table ###

<HR>

[Open Google Search](https://www.google.com "Google's Search Page")
    
    
| Name        | Age           | Gender  |
| ------------- |:-------------:| -----:|
| Ford      | 22| Male |
| Don      | 32      |   Male |
| Julie | 26      |    Female |
    
***Ok thats all***  

~~Removing this line~~